:root {
  /* --navbar-height: 53px; */
  --navbar-height: 0px;
}

div.SplitPane .vertical {
  height: calc(100vh - var(--navbar-height));
}

/* PROCESS TREE */
div.left-pane .Pane1 {
  overflow-y: hidden;
  overflow-x: hidden;
  /* height: calc(100vw - var(--navbar-height)); */
}

div.process-tree-container {
  width: 100%;
}

/* IMPORTING */
div.left-pane .Pane2 {
  overflow-y: hidden;
  overflow-x: hidden;
}

div.importing {
  /* overflow-y: scroll; */
  overflow-x: hidden;
  height: 100%;
  /* height: calc(100vh - var(--navbar-height)); */
  /* min-height: 100%; */
}

/* DFG page styling */
div.dfg {
  width: 100%;
}

/* ALGORITHM CHOICES */
div.right-pane .Pane2 {
  overflow-y: hidden;
  overflow-x: hidden;
}

div.algorithm {
  /* overflow-y: scroll; */
  overflow-x: hidden;
  height: 100%;
  /* height: calc(100vh - var(--navbar-height)); */
  /* min-height: 100%; */
}

/* RESIZER, from package page react-split-pane */

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}
